#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
npm-debug.log
*.js
*.map
*.d.ts
coverage
*.metadata.json
bundles

publish/src
publish/package
publish/node_modules
publish/package-lock.json

src/node_modules/*
src/package-lock.json

#################
## JetBrains
#################
.idea
.project
.settings

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

